/************************************************zz
start47.com
全ページ共通スタイルシート
2017.05.15.
製作：COMBASE
************************************************/
/*default style reset
【基本色】
白：#ffffff
ボタン赤：#DD6060
ボタン青：#3a759e
---------------------------------------------- */

html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,li,dl,dt,dd,form,fieldset,legend,hr,span,a,img,strong,em,ins,del,cite,abbr,acronym,sup,sub,dfn,code,var,samp,kbd,address {
	margin: 0;
	padding: 0;
}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table,th,tr,td {}

body {
	padding:0; /* liquid */
	text-align:center;/* for ie */
	margin:0;
	font-family: 'メイリオ', Meiryo, sans-serif;
	background-color: #ffffff;
}

/* for WinIE6 */
* html body {
	font-size: 75%;
	font-family: 'メイリオ', Meiryo, Verdana, sans-serif;
}
/* for WinIE7 */
*:first-child+html body {
	font-size: 75%;
	font-family: 'メイリオ', Meiryo, sans-serif;
	margin:0 auto;
}

.none { display:none; }

a img {
	border: 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.red {
	color:#CB0800;
}
.red-check {
	color:#FF0000;
	list-style-type:none;
}
.big-red {
	font-weight:bold;
	color:#FF0000;
}
.green {
	color:#3b7e14;
	text-decoration:underline;
}
.orange {
	color:#FF8400;
}
.b {
	font-weight:bold;
}
.u-line {
	text-decoration:underline;
}
.left-mt {
	margin-top:10px;
	float:left;
}
.info_red_r {
	font-size:12px;
	text-align:right;
	padding-right:10px;
	color:#CB0800;
}

/* 調整用 */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;min-height:1%;}
/*\*/* html .clearfix{height:1%;}
.clearfix{display:block;}

ul{
	list-style:none;
}

/* 点滅 */
.blinking{
	-webkit-animation:blink 1.0s ease-in-out infinite alternate;
		-moz-animation:blink 1.0s ease-in-out infinite alternate;
		animation:blink 1.0s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
		0% {opacity:0;}
		100% {opacity:1;}
}
@-moz-keyframes blink{
		0% {opacity:0;}
		100% {opacity:1;}
}
@keyframes blink{
		0% {opacity:0;}
		100% {opacity:1;}
}

/* Toggle Button */
#nav-toggle {
		display: none;
		position: absolute;
		right: 12px;
		top: 14px;
		width: 34px;
		height: 36px;
		cursor: pointer;
		z-index: 101;
}
#nav-toggle div {
		position: relative;
}
#nav-toggle span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #00B4ED;
		left: 0;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
		top: 0;
}
#nav-toggle span:nth-child(2) {
		top: 11px;
}
#nav-toggle span:nth-child(3) {
		top: 22px;
}
/*プレビュー*/
#prev {
		width: 100%;
		height: 140px;
		line-height: 140px;
		color: #ffffff;
		font-size: 50px;
		font-weight: bold;
		text-align: center;
		padding: 50px;
		background-color: rgba(255,0,0,0.5);
		position: absolute;
		z-index: 9999999;
		top:-22px;
}
*, *:before, *:after {
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
				 -o-box-sizing: border-box;
				-ms-box-sizing: border-box;
						box-sizing: border-box;
}
/*フォーム関連*****************/
/*
:valid {
	color: green;
}
*/
:invalid {
	color: red;
}
.submitBtn{
	width: 50%;
	color:#ffffff;
	background-color: #3a759e;
	padding:5px 0;
}
/*===============================================
● 画面の横幅が1100px以上
===============================================*/
@media screen and (min-width: 1100px){
	.only_sp{
		display:none;
	}
	body {
	}
	header {
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		width:100%;
		height:217px;
		background-image: url("../img/bg/header_bg.gif");
		background-position: center top;
		background-repeat: repeat-x;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	}
	#header_con {
		text-align:left;
		height:217px;
		width:1100px;
		margin:0 auto;
	}
	#header_con #logo{
		display:block;
		width:235px;
		height:68px;
		margin-top:25px;
		margin-left:6px;
		float:left;
	}
	#header_con h1{
		display:block;
		line-height:26px;
		width:340px;
		float:left;
		font-size:10px;
		color:#CCCCCC;
		font-weight:normal;
	}
	#header_con #header_con_box{
		width:500px;
		height:93px;
		float:right;
	}
	#header_con_box .cart_box{
		margin-top:2px;
		width:245px;
		height:62px;
		background-image: url("../img/bg/cart_box_bg.gif");
		background-repeat: no-repeat;
		float:left;
	}
	#header_con_box .cart_box .ttl{
		width:123px;
		height:62px;
		text-decoration:none;
		color:#ffffff;
		float:left;
	}
	#header_con_box .cart_box .ttl p{
		width:123px;
		height:62px;
		padding:0 7px;
		font-size:14px;
		color:#FFFFFF;
		display: table-cell;
		vertical-align: middle;
	}
	#header_con_box .cart_box .con{
		width:122px;
		height:62px;
		float:left;
	}
	#header_con_box .cart_box .con .txt01{
		font-size:12px;
		color:#000000;
		line-height:23px;
	}
	#header_con_box .cart_box .con .txt02{
		text-align:right;
		font-size:16px;
		padding-right:7px;
	}
	#header_con_box .cart_box .con .txt02 strong{
		font-size:27px;
	}
	#header_con_box .sub_navi_box{
		width:235px;
		height:62px;
		float:right;
	}
	#header_con_box .sub_navi_box ul{
		width:235px;
		height:54px;
	}
	#header_con_box .sub_navi_box li {
		line-height:54px;
		display: inline-block;
		text-align:left;
	}
	#header_con_box .sub_navi_box li a{
		color:#333333;
		font-size:12px;
		background-image: url("../img/icon/arrow01.gif");
		background-repeat: no-repeat;
		background-position: 0px 5px;
		padding-left:5px;
		margin-left:10px;
		text-decoration:none;
	}
	#header_con_box .sub_navi_box li a:hover{
		color:#BCCE95;
	}
	#header_con_box .site_search_box{
		width:235px;
		float:right;
	}
	#header_con_box .site_search_box input[type="text"]{
		float:left;
		border:none;
		width:147px;
		height:34px;
		padding-left:30px;
		background-image: url("../img/bg/site_search_box_inp_bg.gif");
		background-repeat: no-repeat;
	}
	#header_con_box .site_search_box input[type="submit"]{
		float:left;
		border:none;
		font-size:0;
		width:54px;
		height:34px;
		background-image: url("../img/btn/site_search_box_btn.gif");
		background-repeat: no-repeat;
	}
	#header_con_box .site_search_box input[type="submit"]:hover{
		background-position: 0 -34px;
	}

	#header_con #global_navi{
		clear:both;
		padding-top:9px;
		height:115px;
	}
	#header_con #global_navi ul {
		font-size:0px;
	}
	#header_con #global_navi li {
		line-height:115px;
		display: inline-block;
	}
	#header_con #global_navi li a{
		text-decoration:none;
		background-image: url("../img/btn/global_navi_btn.png");
		display:block;
		height:115px;
		background-repeat: no-repeat;
	}
	#header_con #global_navi li.gn01 a{
		width:185px;
		background-position: 0 0;
	}
	#header_con #global_navi li.gn01 a:hover,
	#header_con #global_navi li.gn01_active a{
		width:185px;
		background-position: 0 -115px;
	}
	#header_con #global_navi li.gn02 a{
		width:183px;
		background-position: -185px 0;
	}
	#header_con #global_navi li.gn02 a:hover,
	#header_con #global_navi li.gn02_active a{
		width:183px;
		background-position: -185px -115px;
	}
	#header_con #global_navi li.gn03 a{
		width:184px;
		background-position: -368px 0;
	}
	#header_con #global_navi li.gn03 a:hover,
	#header_con #global_navi li.gn03_active a{
		width:184px;
		background-position: -368px -115px;
	}
	#header_con #global_navi li.gn04 a{
		width:183px;
		background-position: -552px 0;
	}
	#header_con #global_navi li.gn04 a:hover,
	#header_con #global_navi li.gn04_active a{
		width:183px;
		background-position: -552px -115px;
	}
	#header_con #global_navi li.gn05 a{
		width:183px;
		background-position: -735px 0;
	}
	#header_con #global_navi li.gn05 a:hover,
	#header_con #global_navi li.gn05_active a{
		width:183px;
		background-position: -735px -115px;
	}
	#header_con #global_navi li.gn06 a{
		width:182px;
		background-position: -918px 0;
	}
	#header_con #global_navi li.gn06 a:hover,
	#header_con #global_navi li.gn06_active a{
		width:182px;
		background-position: -918px -115px;
	}



	/*footer*/
	footer {
		clear:both;
		width:100%;
		/*background-color:#cdfcfd;*/
	}
	footer #foot_unit_01{
		width:100%;
		height:125px;
		background-image: url("../img/bg/footer_bg.png");
		background-position: center bottom;
		background-repeat: repeat-x;
	}
	footer #foot_unit_02{
		clear:both;
		width:100%;
		height:400px;
		text-align:center;
		background-color:#0073e0;
	}
	footer #foot_unit_02 #foot_unit_02_wrap{
		width:1100px;
		padding-top:10px;
		margin:0 auto;
	}
	footer #foot_unit_02_wrap .foot_area_lst{
		width:25%;
		float:left;
		text-align:left;
	}
	footer #foot_unit_02_wrap .foot_area_lst .area{
		font-weight:bold;
	}
	footer #foot_unit_02_wrap .foot_area_lst .pref{
		text-indent:15px;
	}
	footer #foot_unit_02_wrap .foot_area_lst a{
		color:#ffffff;
		text-decoration:none;
	}
	footer #foot_unit_02_wrap .foot_area_lst a:hover{
		text-decoration:underline;
	}
	footer #foot_unit_03{
		width:100%;
		height:70px;
		margin-bottom:65px;
		background-color:#3a759e;
		text-align:left;
	}
	.foot_unit_inner {
		text-align:left;
		padding:25px 0;
		width:1100px;
		margin:0 auto;
	}
	footer #foot_unit_03 ul {
		float:left;
		width:650px;
		font-size:12px;
	}
	footer #foot_unit_03 address {
		float:left;
		width:400px;
		font-size:12px;
	}
	footer #foot_unit_03 li {
		display: inline-block;
	}
	footer #foot_unit_03 li a{
		text-decoration:none;
		font-size:12px;
		color:#FFFFFF;
		margin-right:10px;
		background-image: url("../img/icon/arrow02.gif");
		background-repeat: no-repeat;
		background-position: 0px 5px;
		padding-left:7px;
	}
	footer #foot_unit_03 li a:hover{
		color:#129FFF;
	}

	footer #foot_unit_03 address{
		font-style:normal;
		font-weight:bold;
		color:#F0F6E3;
		font-size: 11px;
		text-align:center;
	}
	/*pagetop*/
	#pagetop{
		position: fixed;
		bottom: 20px;
		right: 20px;
		font-size: 77%;
	}
	#pagetop a {
		background: #322011;
		text-decoration: none;
		color: #ffffff;
		width: 100px;
		padding: 15px 0;
		text-align: center;
		display: block;
		border-radius: 5px;
	}
	#pagetop a:hover,
	#pagetop a.hover {
		text-decoration: none;
		background: #999;
	}

	#footerMenu {
		background: #7CA1CA;
		color: #FFF;
		width: 100%;
		height: 0px;
		position: fixed;
		z-index: 300;
		bottom: 0;
		overflow: none;
		left: 0;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		-webkit-box-shadow: 0px -4px 38px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    0px -4px 38px rgba(50, 50, 50, 0.50);
		box-shadow:         0px -4px 38px rgba(50, 50, 50, 0.50);
	}
	#footerMenu.show {
		height: 65px;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
	}
	#footerMenu .content-wrap {
		text-align:left;
		width:1100px;
		margin:0 auto;
	}
	#footerMenu .content-wrap .cart_box{
		margin-top:2px;
		width:245px;
		height:62px;
		background-image: url("../img/bg/cart_box_bg.gif");
		background-repeat: no-repeat;
		float:left;
	}
	#footerMenu .content-wrap .cart_box .ttl{
		width:123px;
		height:62px;
		text-decoration:none;
		color:#ffffff;
		float:left;
	}
	#footerMenu .content-wrap .cart_box .ttl p{
		width:123px;
		height:62px;
		padding:0 7px;
		font-size:14px;
		color:#FFFFFF;
		display: table-cell;
		vertical-align: middle;
	}
	#footerMenu .content-wrap .cart_box .con{
		width:122px;
		height:62px;
		float:left;
		color:#000000;
	}
	#footerMenu .content-wrap .cart_box .con .txt01{
		font-size:12px;
		line-height:23px;
	}
	#footerMenu .content-wrap .cart_box .con .txt02{
		text-align:right;
		font-size:16px;
		padding-right:7px;
		
	}
	#footerMenu .content-wrap .cart_box .con .txt02 strong{
		font-size:27px;
	}
	#footerMenu .content-wrap .concierge_box{
		width:320px;
		height:64px;
		float:right;
	}
	#footerMenu .content-wrap .concierge_box p{
		font-size:12px;
	}
	#footerMenu .content-wrap .concierge_box a{
		width:170px;
		line-height:22px;
		font-size:16px;
		font-weight:bold;
		text-decoration:none;
		padding:5px 10px;
		color:#FEEE3A;
		display:block;
		text-align:center;
		background-color:#DD6060;
	}
	#footerMenu .content-wrap .concierge_box img{
		float:right;
		position: relative;
		z-index: 350;
		right:30px;
	}
	#footerMenu.show .content-wrap .concierge_box img{
		top: -70px;
	}
	/*エリアから検索*/
	#areaBox{
		width: 100%;
		background-color: #c4f4f1;
		background-image: url("../img/jp_map2.png");
		background-repeat: no-repeat;
		background-size: 100%;
		padding:15px;
	}
	#areaBox .pref_map{
		font-size:11px;
		background-color: rgba(0,115,224,0.7);
		display:inline-block;
		padding:3px;
	}
	#areaBox .pref_map a{
		color:#ffffff;
		text-decoration:none;
	}

}
/*===============================================
● 画面の横幅が768px～1100px
===============================================*/
@media screen and (min-width: 768px) and (max-device-width: 1099px) {
	.only_sp{
		display:none;
	}
	body {
	}
	header {
		/*position: fixed;*/
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		width:100%;
		height:145px;
		background-image: url("../img/bg/header_bg.gif");
		background-size: 145px 100%;
		background-position: center top;
		background-repeat: repeat-x;
		/*box-shadow*/
		box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	}
	#header_con {
		text-align:left;
		height:145px;
		width:768px;
		margin:0 auto;
	}
	#header_con #logo img{
		display:block;
		width:157px;
		height:46px;
		margin-top:17px;
		margin-left:4px;
		float:left;
	}
	#header_con h1{
		display:block;
		line-height:17px;
		width:228px;
		float:left;
		font-size:10px;
		color:#CCCCCC;
		font-weight:normal;
	}
	#header_con #header_con_box{
		width:365px;
		height:62px;
		float:right;
	}
	#header_con_box .cart_box{
		margin-top:1px;
		width:180px;
		height:42px;
		background-color:#F2F0E2;
		background-image: url("../img/bg/cart_box_bg.gif");
		background-size: 164px 42px;
		background-repeat: no-repeat;
		float:left;
	}
	#header_con_box .cart_box .ttl{
		width:82px;
		height:42px;
		text-decoration:none;
		color:#ffffff;
		float:left;
	}
	#header_con_box .cart_box .ttl p{
		width:88px;
		height:42px;
		padding:0 4px;
		font-size:10px;
		color:#FFFFFF;
		display: table-cell;
		vertical-align: middle;
	}
	#header_con_box .cart_box .con{
		width:95px;
		height:42px;
		float:left;
	}
	#header_con_box .cart_box .con .txt01{
		font-size:8px;
		color:#000000;
		line-height:15px;
	}
	#header_con_box .cart_box .con .txt02{
		text-align:right;
		font-size:11px;
		padding-right:4px;
	}
	#header_con_box .cart_box .con .txt02 strong{
		font-size:18px;
	}
	#header_con_box .sub_navi_box{
		width:177px;
		height:42px;
		float:right;
	}
	#header_con_box .sub_navi_box ul{
		width:177px;
		height:36px;
	}
	#header_con_box .sub_navi_box li {
		line-height:36px;
		display: inline-block;
		text-align:left;
	}
	#header_con_box .sub_navi_box li a{
		color:#333333;
		font-size:10px;
		background-image: url("../img/icon/arrow01.gif");
		background-repeat: no-repeat;
		background-position: 0px 3px;
		padding-left:5px;
		margin-left:6px;
		text-decoration:none;
	}
	#header_con_box .sub_navi_box li a:hover{
		color:#BCCE95;
	}
	#header_con_box .site_search_box{
		width:157px;
		float:right;
	}
	#header_con_box .site_search_box input[type="text"]{
		float:left;
		border:none;
		width:98px;
		height:18px;
		padding-left:18px;
		background-image: url("../img/bg/site_search_box_inp_bg.gif");
		background-size: 116px 18px;
		background-repeat: no-repeat;
	}
	#header_con_box .site_search_box input[type="submit"]{
		float:left;
		border:none;
		font-size:0;
		width:36px;
		height:18px;
		background-image: url("../img/btn/site_search_box_btn2.gif");
		background-repeat: no-repeat;
	}
	#header_con_box .site_search_box input[type="submit"]:hover{
		background-position: 0 -34px;
	}

	#header_con #global_navi{
		clear:both;
		padding-top:5px;
		height:77px;
	}
	#header_con #global_navi ul {
		font-size:0px;
	}
	#header_con #global_navi li {
		line-height:77px;
		display: inline-block;
	}
	#header_con #global_navi li a{
		text-decoration:none;
		background-image: url("../img/btn/global_navi_btn2.png");
		display:block;
		height:77px;
		background-repeat: no-repeat;
	}
	#header_con #global_navi li.gn01 a{
		width:124px;
		background-position: 0 0;
	}
	#header_con #global_navi li.gn01 a:hover,
	#header_con #global_navi li.gn01_active a{
		width:124px;
		background-position: 0 -77px;
	}
	#header_con #global_navi li.gn02 a{
		width:123px;
		background-position: -124px 0;
	}
	#header_con #global_navi li.gn02 a:hover,
	#header_con #global_navi li.gn02_active a{
		width:123px;
		background-position: -123px -77px;
	}
	#header_con #global_navi li.gn03 a{
		width:123px;
		background-position: -247px 0;
	}
	#header_con #global_navi li.gn03 a:hover,
	#header_con #global_navi li.gn03_active a{
		width:123px;
		background-position: -247px -77px;
	}
	#header_con #global_navi li.gn04 a{
		width:123px;
		background-position: -370px 0;
	}
	#header_con #global_navi li.gn04 a:hover,
	#header_con #global_navi li.gn04_active a{
		width:123px;
		background-position: -370px -77px;
	}
	#header_con #global_navi li.gn05 a{
		width:123px;
		background-position: -492px 0;
	}
	#header_con #global_navi li.gn05 a:hover,
	#header_con #global_navi li.gn05_active a{
		width:123px;
		background-position: -492px -77px;
	}
	#header_con #global_navi li.gn06 a{
		width:122px;
		background-position: -615px 0;
	}
	#header_con #global_navi li.gn06 a:hover,
	#header_con #global_navi li.gn06_active a{
		width:122px;
		background-position: -615px -77px;
	}



	/*footer*/
	footer {
		clear:both;
		width:100%;
		/*background-color:#cdfcfd;*/
	}
	footer #foot_unit_01{
		width:100%;
		height:125px;
		background-image: url("../img/bg/footer_bg.png");
		background-position: center bottom;
		background-repeat: repeat-x;
	}
	footer #foot_unit_02{
		clear:both;
		width:100%;
		height:400px;
		text-align:center;
		background-color:#0073e0;
	}
	footer #foot_unit_02 #foot_unit_02_wrap{
		width:748px;
		padding-top:10px;
		margin:0 10px;
	}
	footer #foot_unit_02_wrap .foot_area_lst{
		width:25%;
		float:left;
		text-align:left;
	}
	footer #foot_unit_02_wrap .foot_area_lst ul ul{
		margin-bottom:20px;
	}
	footer #foot_unit_02_wrap .foot_area_lst .area{
		font-weight:bold;
		font-size:12px;
	}
	footer #foot_unit_02_wrap .foot_area_lst .pref{
		text-indent:10px;
		font-size:12px;
	}
	footer #foot_unit_02_wrap .foot_area_lst a{
		color:#ffffff;
		text-decoration:none;
	}
	footer #foot_unit_02_wrap .foot_area_lst a:hover{
		text-decoration:underline;
	}
	footer #foot_unit_03{
		width:100%;
		height:70px;
		margin-bottom:65px;
		background-color:#3a759e;
		text-align:left;
	}
	.foot_unit_inner {
		text-align:left;
		padding:25px 0;
		width:768px;
		margin:0 auto;
	}
	footer #foot_unit_03 ul {
		float:left;
		width:490px;
		margin-left:10px;
		font-size:12px;
	}
	footer #foot_unit_03 address {
		float:left;
		width:260px;
		font-size:12px;
	}
	footer #foot_unit_03 li {
		display: inline-block;
	}
	footer #foot_unit_03 li a{
		text-decoration:none;
		font-size:12px;
		color:#FFFFFF;
		margin-right:10px;
		background-image: url("../img/icon/arrow02.gif");
		background-repeat: no-repeat;
		background-position: 0px 5px;
		padding-left:7px;
	}
	footer #foot_unit_03 li a:hover{
		color:#129FFF;
	}

	footer #foot_unit_03 address{
		font-style:normal;
		font-weight:bold;
		color:#F0F6E3;
		font-size: 11px;
		text-align:center;
	}
	/*pagetop*/
	#pagetop{
		position: fixed;
		bottom: 20px;
		right: 20px;
		font-size: 77%;
	}
	#pagetop a {
		background: #322011;
		text-decoration: none;
		color: #ffffff;
		width: 100px;
		padding: 15px 0;
		text-align: center;
		display: block;
		border-radius: 5px;
	}
	#pagetop a:hover,
	#pagetop a.hover {
		text-decoration: none;
		background: #999;
	}

	#footerMenu {
		background: #7CA1CA;
		color: #FFF;
		width: 100%;
		height: 0px;
		position: fixed;
		z-index: 300;
		bottom: 0;
		overflow: none;
		left: 0;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		-webkit-box-shadow: 0px -4px 38px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    0px -4px 38px rgba(50, 50, 50, 0.50);
		box-shadow:         0px -4px 38px rgba(50, 50, 50, 0.50);
	}
	#footerMenu.show {
		height: 65px;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
	}
	#footerMenu .content-wrap {
		text-align:left;
		width:768px;
		margin:0 auto;
	}
	#footerMenu .content-wrap .cart_box{
		margin-top:2px;
		width:245px;
		height:62px;
		background-image: url("../img/bg/cart_box_bg.gif");
		background-repeat: no-repeat;
		float:left;
	}
	#footerMenu .content-wrap .cart_box .ttl{
		width:123px;
		height:62px;
		text-decoration:none;
		color:#ffffff;
		float:left;
	}
	#footerMenu .content-wrap .cart_box .ttl p{
		width:123px;
		height:62px;
		padding:0 7px;
		font-size:14px;
		color:#FFFFFF;
		display: table-cell;
		vertical-align: middle;
	}
	#footerMenu .content-wrap .cart_box .con{
		width:122px;
		height:62px;
		float:left;
		color:#000000;
	}
	#footerMenu .content-wrap .cart_box .con .txt01{
		font-size:12px;
		line-height:23px;
	}
	#footerMenu .content-wrap .cart_box .con .txt02{
		text-align:right;
		font-size:16px;
		padding-right:7px;
		
	}
	#footerMenu .content-wrap .cart_box .con .txt02 strong{
		font-size:27px;
	}
	#footerMenu .content-wrap .concierge_box{
		width:320px;
		height:64px;
		float:right;
	}
	#footerMenu .content-wrap .concierge_box p{
		font-size:12px;
	}
	#footerMenu .content-wrap .concierge_box a{
		width:170px;
		line-height:22px;
		font-size:16px;
		font-weight:bold;
		text-decoration:none;
		padding:5px 10px;
		color:#FEEE3A;
		display:block;
		text-align:center;
		background-color:#DD6060;
	}
	#footerMenu .content-wrap .concierge_box img{
		float:right;
		position: relative;
		z-index: 350;
		right:30px;
	}
	#footerMenu.show .content-wrap .concierge_box img{
		top: -70px;
	}
	/*エリアから検索*/
	#areaBox{
		width: 100%;
		background-color: #c4f4f1;
		background-image: url("../img/jp_map2.png");
		background-repeat: no-repeat;
		background-size: 100%;
		padding:15px;
	}
	#areaBox .pref_map{
		font-size:11px;
		background-color: rgba(0,115,224,0.7);
		display:inline-block;
		padding:3px;
	}
	#areaBox .pref_map a{
		color:#ffffff;
		text-decoration:none;
	}
}
/*==============================================================================================================
● 画面の横幅が767pxまで
==============================================================================================================*/
@media screen and (max-width:767px){
	.only_pc {
		display:none;
	}
	body {
	}
	header {
		/*position: fixed;*/
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		width:100%;
		height:75px;
		/*box-shadow*/
		box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	}
	#header_con {
		text-align:left;
		height:75px;
		width:100%;
		margin:0 auto;
	}
	#header_con #logo img{
		width:180px;
		float:left;
		padding:5px;
	}
	#header_con h1{
		display:block;
		font-size:10px;
		color:#CCCCCC;
		font-weight:normal;
	}
	#header_con #header_con_box{
		display:none;
	}


		#global_navi {
				position: absolute;
				/* 開いてないときは画面外に配置 */
				top: -500px;
				background: #399CA6;
				width: 100%;
				text-align: center;
				-webkit-transition: .5s ease-in-out;
				-moz-transition: .5s ease-in-out;
				transition: .5s ease-in-out;
		}
		#global_navi ul {
				list-style: none;
				position: static;
				right: 0;
				bottom: 0;
				font-size: 14px;
		}
		#global_navi ul li {
				float: none;
				position: static;
		}
		#global_navi ul li a {
				width: 100%;
				display: block;
				color: #ffffff;
				padding: 18px 0;
				border-bottom:1px solid #435F85;
		}
		#global_navi ul li a:hover {
				background: #435F85;
		}
		#nav-toggle {
				display: block;
				margin-top:13px;
		}
		/* #nav-toggle 切り替えアニメーション */
		.open #nav-toggle span:nth-child(1) {
				top: 11px;
				-webkit-transform: rotate(315deg);
				-moz-transform: rotate(315deg);
				transform: rotate(315deg);
		}
		.open #nav-toggle span:nth-child(2) {
				width: 0;
				left: 50%;
		}
		.open #nav-toggle span:nth-child(3) {
				top: 11px;
				-webkit-transform: rotate(-315deg);
				-moz-transform: rotate(-315deg);
				transform: rotate(-315deg);
		}
		/* #global_navi スライドアニメーション */
		.open #global_navi {
				/* #global_navi top + #mobile-head height */
				margin-top:10px;
				-moz-transform: translateY(556px);
				-webkit-transform: translateY(556px);
				transform: translateY(556px);
		}

	/*footer*/
	footer {
		clear:both;
		width:100%;
		/*background-color:#cdfcfd;*/
	}
	footer #foot_unit_01{
		width:100%;
		height:125px;
		background-image: url("../img/bg/footer_bg.png");
		background-position: center bottom;
		background-repeat: repeat-x;
	}
	footer #foot_unit_02{
		width:100%;
		height:200px;
		background-color:#0073e0;
		font-size:12px;
		padding:15px 0;
		line-height:26px;
	}
	footer #foot_unit_02 .foot_area_lst{
	}
	footer #foot_unit_02 .foot_area_lst a{
		text-decoration:none;
		color:#FFFFFF;
	}
	footer #foot_unit_02 .foot_area_lst ul ul{
		display:none;
	}
	footer #foot_unit_03{
		width:100%;
		margin-bottom:65px;
		background-color:#3a759e;
		text-align:left;
	}
	footer #foot_unit_03 ul {
		width:100%;
		font-size:12px;
	}
	.foot_unit_inner {
		text-align:left;
		padding:25px 10px;
		margin:0 auto;
	}
	footer #foot_unit_03 address {
		width:100%;
		font-size:12px;
	}
	footer #foot_unit_03 li {
		display: inline-block;
	}
	footer #foot_unit_03 li a{
		text-decoration:none;
		font-size:12px;
		color:#FFFFFF;
		margin-right:10px;
		background-image: url("../img/icon/arrow02.gif");
		background-repeat: no-repeat;
		background-position: 0px 5px;
		padding-left:7px;
	}
	footer #foot_unit_03 li a:hover{
		color:#129FFF;
	}

	footer #foot_unit_03 address{
		clear:both;
		width:100%;
		font-style:normal;
		font-weight:bold;
		color:#F0F6E3;
		font-size: 11px;
		margin-top:10px;
		text-align:center;
	}
	/*pagetop*/
	#pagetop{
		position: fixed;
		bottom: 20px;
		right: 20px;
		font-size: 77%;
	}
	#pagetop a {
		background: #322011;
		text-decoration: none;
		color: #ffffff;
		width: 100px;
		padding: 15px 0;
		text-align: center;
		display: block;
		border-radius: 5px;
	}
	#pagetop a:hover,
	#pagetop a.hover {
		text-decoration: none;
		background: #999;
	}

	#footerMenu {
		background: #7CA1CA;
		color: #FFF;
		width: 100%;
		height: 0px;
		position: fixed;
		z-index: 300;
		bottom: 0;
		overflow: none;
		left: 0;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		-webkit-box-shadow: 0px -4px 38px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    0px -4px 38px rgba(50, 50, 50, 0.50);
		box-shadow:         0px -4px 38px rgba(50, 50, 50, 0.50);
	}
	#footerMenu.show {
		height: 65px;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
	}
	#footerMenu .content-wrap {
		text-align:left;
		width:100%;
		margin:0 auto;
	}
	#footerMenu .content-wrap .cart_box{
		margin-top:2px;
		width:245px;
		height:62px;
		background-image: url("../img/bg/cart_box_bg.gif");
		background-repeat: no-repeat;
		float:left;
	}
	#footerMenu .content-wrap .cart_box .ttl{
		width:123px;
		height:62px;
		text-decoration:none;
		float:left;
	}
	#footerMenu .content-wrap .cart_box .ttl p{
		width:123px;
		height:62px;
		padding:0 7px;
		font-size:14px;
		color:#FFFFFF;
		display: table-cell;
		vertical-align: middle;
	}
	#footerMenu .content-wrap .cart_box .con{
		width:122px;
		height:62px;
		float:left;
		color:#000000;
	}
	#footerMenu .content-wrap .cart_box .con .txt01{
		font-size:12px;
		line-height:23px;
	}
	#footerMenu .content-wrap .cart_box .con .txt02{
		text-align:right;
		font-size:16px;
		padding-right:7px;
		
	}
	#footerMenu .content-wrap .cart_box .con .txt02 strong{
		font-size:27px;
	}
	#footerMenu .content-wrap .concierge_box{
		width:130px;
		height:64px;
		float:right;
	}
	#footerMenu .content-wrap .concierge_box p{
		font-size:11px;
		padding:3px;
	}
	#footerMenu .content-wrap .concierge_box a{
		width:170px;
		line-height:20px;
		font-size:13px;
		font-weight:bold;
		text-decoration:none;
		padding:3px;
		color:#FEEE3A;
		display:block;
		text-align:left;
		background-color:#DD6060;
	}
	#footerMenu .content-wrap .concierge_box img{
		float:right;
		position: relative;
		width:40px;
		z-index: 90;
		right:0px;
	}
	#footerMenu.show .content-wrap .concierge_box img{
		top: -100px;
	}
	/*エリアから検索*/
	#areaBox{
		width: 100%;
		background-color: #c4f4f1;
		background-image: url("../img/jp_map2.png");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-bottom:15px;
		padding:15px;
	}
	#areaBox .pref_map{
		font-size:14px;
		background-color: rgba(0,115,224,0.7);
		display:inline-block;
		margin-bottom:3px;
		padding:3px;
	}
	#areaBox .pref_map a{
		color:#ffffff;
		text-decoration:none;
	}
	/******************************************************/
	/*form関連の装飾 ****************************************/
	/******************************************************/
	/* iOSでのデフォルトスタイルをリセット */
	input[type="submit"],
	input[type="button"] {
		border-radius: 0;
		-webkit-box-sizing: content-box;
		-webkit-appearance: button;
		appearance: button;
		border: none;
		box-sizing: border-box;
		cursor: pointer;
	}
	input[type="submit"]::-webkit-search-decoration,
	input[type="button"]::-webkit-search-decoration {
		display: none;
	}
	input[type="submit"]::focus,
	input[type="button"]::focus {
		outline-offset: -2px;
	}
	/*select**/
	.select-box01 select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.select-box01 select {
		width: 100%;
		padding: 8px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 1px solid #999;
		background: #eee;
		background: url(../img/btn/arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #ffffff 0%,#fafdff 100%);
		background: url(../img/btn/arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #ffffff 0%,#fafdff 100%);
		background-size: 21px, 100%;
	}
	/*radioボタン**/
	.radio02-input{
		display: none;
	}
	.radio02-parts{
		padding-left: 5px;
		position:relative;
	}
	.radio02-input + label{
		padding-left: 20px;
		position:relative;
		margin-right: 20px;
	}
	.radio02-input + label::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		border: 1px solid #999;
		border-radius: 50%;
	}
	.radio02-input:checked + label{
		color: #0073e0;
	}
	.radio02-input:checked + label::after{
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		left: 3px;
		width: 14px;
		height: 14px;
		background: #0073e0;
		border-radius: 50%;
	}
	/*checkbox**/
	.checkbox01-input{
		display: none;
	}
	.checkbox01-parts{
		padding-left: 25px;
		position:relative;
		margin-right: 20px;
	}
	.checkbox01-parts::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		border: 1px solid #999;
		border-radius: 4px;
	}
	.checkbox01-input:checked + .checkbox01-parts{
		color: #0073e0;
	}
	.checkbox01-input:checked + .checkbox01-parts::after{
		content: "";
		display: block;
		position: absolute;
		top: -5px;
		left: 5px;
		width: 10px;
		height: 19px;
		transform: rotate(40deg);
		border-bottom: 3px solid #0073e0;
		border-right: 3px solid #0073e0;
	}
	/******************************************************/
}

