@charset "UTF-8";
/************************************************
start47.com
LPページスタイルシート(scssコンパイル)
2017.08.23.
製作：COMBASE
************************************************/
/*** color *************************************/
/***********************************************/
#lpWrapper {
  width: 1100px;
}

/**************************************************************************************************************************/
/**************************************************************************************************************************/
@media screen and (max-width: 767px) {
  #lpWrapper {
    width: 100%;
    margin: 0;
  }
}
